<div id="service-logo">
  <%= image_tag("volusion_logo.png") %>
</div>

<% if flash[:error] %>
  <div id='error-msg' class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
      <%= flash[:error] %>
  </div>
<% end %>

<form id='product-info-form' action="<%= newsletter_volusion_new_product_build_path %>" method="POST">
  <div class="form-group">
    <label for="new-arrivals-url">New arrivals link url</label>
    <input type="input" name='new_arrivals_url'
            class="form-control" id="new-arrivals-url"
            value='<%= @new_arrivals_url %>' placeholder="New arrivals url">
  </div>
  <div class='form-group' id='product-info-container'>
    <div id='product-codes'>
      <label for="product-codes-ta">
        Product codes<br>ONE code per line
      </label>
      <textarea id="product-codes-ta" name='product_codes' class='form-control product-info-textarea'><%= @raw_product_codes %></textarea>
    </div>
    <div id='product-names'>
      <label for='product-names-ta'>
        Product names<br>ONE name per line
      </label>
      <textarea id='product-names-ta' name='product_names' class='form-control product-info-textarea'><%= @raw_product_names %></textarea>
    </div>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button id='submit-btn' type="submit" class="btn btn-default">Submit</button>
</form>
