<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="format-detection" content="address=no">
  </head>
  <body text="#000000" style="height: 100%;width: 650px;margin: 10px auto 0px;font-size: 12px;font-family: &quot;Source Sans Pro&quot;;color: #000;line-height: 18px;-webkit-text-size-adjust: none;word-wrap: normal;">
    <style type="text/css">
      @media all {
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
      }
      @media only screen and (max-width:767px) {
        body {
          width: 100% !important;
        }
      }
      @media only screen and (max-width:480px) {
        .product {
          float: none !important;
          width: 100% !important;
          margin-right: 0px !important;
          margin-left: 0px !important;
        }
        .product:nth-last-child(2) {
          margin-bottom: 30px !important;
        }
      }
    </style>
    <div id="header">
      <div id="logo-container" style="text-align: center;">
        <a href="http://www.linzytoys.com" style="text-decoration: none;color: #888;">
          <img src="http://www.linzytoys.com/v/vspfiles/templates/257/images/template/header_bg.png">
        </a>
      </div>
    </div>
    <div id="category-container" style="margin: 10px 0px 0px;text-align: center;background: #D94545;border-radius: 3px;">
      <a href="<%= @params[:new_arrivals_url] %>" style="text-decoration: none;color: #888;">
        <div class="category left" style="width: 33%;text-align: center;height: 50px;line-height: 50px;color: white;letter-spacing: 1.2px;float: left;">
          New Arrivals
        </div>
      </a>
      <a href="http://www.linzytoys.com/category-s/133.htm" style="text-decoration: none;color: #888;">
        <div class="category center" style="width: 33%;text-align: center;height: 50px;line-height: 50px;color: white;letter-spacing: 1.2px;display: inline-block;">
          Teddy Bears
        </div>
      </a>
      <a href="http://www.linzytoys.com/category-s/188.htm" style="text-decoration: none;color: #888;">
        <div class="category right" style="width: 33%;text-align: center;height: 50px;line-height: 50px;color: white;letter-spacing: 1.2px;float: right;">
          Last Chance
        </div>
      </a>
    </div>
    <div id="announce-banner" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin: 10px auto 0px;padding: 10px;background-color: #f7f7f8;color: #484848;text-align: center;-webkit-transition: all .15s ease-in;-moz-transition: all .15s ease-in;-o-transition: all .15s ease-in;-ms-transition: all .15s ease-in;transition: all .15s ease-in;">
      USE PROMOCODE <span class="highlight" style="color: #fe757f;">"LINZY"</span> AT CHECKOUT TO GET <span class="highlight" style="color: #fe757f;">5% OFF</span>!
    </div>
    <div id="body-container" style="min-height: 500px;padding: 10px 0px 0px;">
      <div id="products-heading" style="padding-bottom: 5px;padding-left: 2.5px;margin: 10px 0px;border-bottom: 1px solid #ddd;color: #444;font-size: 20px;font-weight: normal;">
        Featured New Arrivals
      </div>
      <% @params[:product_codes].zip(@params[:product_names]).each do |code, name| %>
      <div class="product" style="float: left;width: 48%;margin-right: 1%;margin-left: 1%;margin-bottom: 30px;background: #eeeeee;border-top-left-radius: 5px;border-top-right-radius: 5px;">
        <a href="http://www.linzytoys.com/product-p/<%= code %>.htm" style="text-decoration: none;color: #888;">
          <img src="http://cdn3.volusion.com/mayah.cmxof/v/vspfiles/photos/<%= code %>-2.jpg" style="width: 100%;border-top-left-radius: 5px;border-top-right-radius: 5px;"/>
          <div class="product-title" style="text-align: center;height: 40px;line-height: 40px;color: #888;">
            <%= name %>
          </div>
        </a>
      </div>
      <% end %>
    </div>
    <div id="more-btn-container" style="text-align: center;margin: 30px 0px;">
      <a id="more-btn" href="<%= @params[:new_arrivals_url] %>" style="text-decoration: none;color: #333333;-moz-box-shadow: inset 0px 1px 0px 0px #fff6af;-webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;box-shadow: inset 0px 1px 0px 0px #fff6af;background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);background-color: #ffec64;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;border: 1px solid #dddddd;display: inline-block;cursor: pointer;font-family: Arial;font-size: 15px;font-weight: bold;padding: 6px 20px;text-shadow: 0px 1px 0px #ffee66;">See More New Arrivals!</a>
    </div>
    <div id="info-container" style="border-top: 1px solid #ddd;background-color: #f7f7f8;width: 100%;margin: 10px auto 0px;text-align: center;padding: 10px 0;">
      <a href="mailto:info@linzytoys.com" style="text-decoration: none;color: #888;">info@linzytoys.com</a><br>
      (626) 961-9069<br>
      Linzy Toys Inc. 15805 Valley Blvd.<br>
      City of Industry, CA 91744<br>
      <div id="subscribe-info" style="margin-top: 10px;">
        <a style="text-decoration: none;color: #888;" href="*|UNSUB|*">Remove me from this list</a>
      </div>
      <div id="copyright" style="margin-top: 10px;color: #D94545;">
        Copyright &copy; <a href="http://www.linzytoys.com" style="text-decoration: none;color: #D94545;">2015 Linzy Toys &reg;</a> Inc. All Rights Reserved.
      </div>
      <div style="display: none; margin-top: 10px;">
        *|REWARDS|*
      </div>
    </div>
  </body>
</html>